<h1>Editing reservation</h1>

<%= render "form", api_v1_reservation: @api_v1_reservation %>

<br>

<div>
  <%= link_to "Show this reservation", @api_v1_reservation %> |
  <%= link_to "Back to reservations", api_v1_reservations_path %>
</div>
